* {
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
}

.container {
  background-color: #4d1de0;
  border-radius: 0.75rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin-bottom: 70px;
  font-size: 3rem;
  color: black;
}

.header {
  display: flex;
  align-items: center;
}

.timer,
.errors,
.cpm,
.wpm,
.accuracy {
  height: 60px;
  width: 70px;
  margin: 15px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #f4ffff;
  text-align: center;
}

.cpm,
.wpm {
  display: none;
}

.header_text {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.curr_time,
.curr_errors,
.curr_accuracy,
.curr_cpm,
.curr_wpm {
  font-size: 2.75rem;
}

.quote {
  background-color: #4d1de0;
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: #f4ffff;
}

.incorrect_char {
  color: red;
  text-decoration: underline;
}

.correct_char {
  color: #4d1de0;
}

.input_area {
  border: none;
  background-color: #d8e5f2;
  width: 100%;
  color: #091f43;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1.3rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
}
.input_area::placeholder {
  color: #bbb;
}
.input_area:focus {
  outline: none;
}
.restart_btn {
  display: none;
  background-color: #fc5185;
  color: white;
  width: 150px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
}

.restart_btn:active {
  transform: scale(0.98);
}

.restart_btn:focus {
  outline: 0;
}
